<div style="padding:40px 0px 40px 0px">
    <div class="container">
       <H2>Welcome   {{email}}</H2>

        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#"profile>Profile</a></li>
                    <li role="presentation"><a href="#companion">Find companion</a></li>
                    <li role="presentation"><a href="#projectNews">Project news</a></li>
                    <li role="presentation"><a href="#donate">Donate<span class="badge">If you want of course</span><</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <img src="../images/videoPlaceholder.jpg">
            </div>
        </div>
    </div>
</div>
